<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
<title>Your awesome title | Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.</title>
<link rel="stylesheet" href="/stylesheets/site.css.scss"><link type="application/atom+xml" rel="alternate" href="http://localhost:4000/feed.xml" title="Your awesome title" /></head>
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
<body class="big-huge-massive-container">
<!--   <nav class="main-nav">
    <section class="main-nav main-nav__nav-item">
      <a class="main-nav__link">Alex Heath</a>
    </section>
    <section class="main-nav main-nav__nav-item logo">
      <a class="main-nav__link">
        <img src="images/classic_alex.png" class="logo-image">
      </a>
    </section>
    <section class="main-nav main-nav__nav-item">
      <a class="main-nav__link">About</a>
      <a class="main-nav__link">Contact</a>
    </section>
  </nav> -->

  <ul class="main-nav">
    <li class="main-nav__list-item left"><a class="main-nav__link" href="#">Alex Heath</a></li>
    <li class="main-nav__list-item"><a class="main-nav__link" href="#"><img src="images/classic_alex.png" class="logo"></a></li>
    <div class="right">
      <li class="main-nav__list-item"><a class="main-nav__link" href="#">About</a></li>
      <li class="main-nav__list-item"><a class="main-nav__link" href="#">Contact</a></li>
    </div>
  </ul>


  <section class="main-content">
      <section class="main-content__item main-content__item--edge">
        <img class="giant-fighter" src="images/eyepatch_guy.jpg">
      </section>
      <section class="main-content__item full-to-half main-content__item--grid">
        <div class="image-grid">
          <img src="images/bicep_headband_guy.png">
          <img src="images/bicep_headband_guy.png">
          <img src="images/bicep_headband_guy.png">
          <img src="images/bicep_headband_guy.png">
          <img src="images/bicep_headband_guy.png">
          <img src="images/bicep_headband_guy.png">
          <img src="images/bicep_headband_guy.png">
          <img src="images/bicep_headband_guy.png">
          <img src="images/bicep_headband_guy.png">
          <img src="images/bicep_headband_guy.png">
          <img src="images/bicep_headband_guy.png">
          <img src="images/bicep_headband_guy.png">
        </div>
        <img class="versus" src="images/VS.png">
      </section>
      <section class="main-content__item main-content__item--edge">
        <img class="giant-fighter right" src="images/punch_lady.jpg">
      </section>
  </section>
</body>

</html>
